.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #2a272f;
}
.navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.logo {
  color: var(--dl-color-success-500);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.text {
  color: var(--dl-color-danger-700);
}
.text01 {
  color: var(--dl-color-gray-white);
}
.desktop-menu {
  display: flex;
}
.nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.navlink2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.image {
  width: 24px;
  object-fit: cover;
}
.image01 {
  width: 24px;
  object-fit: cover;
  text-decoration: none;
}
.view {
  text-decoration: none;
}
.burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #27272D;
}
.nav1 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.link04 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link05 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navlink3 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navlink4 {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.login {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.socials1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.icon08 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.image02 {
  width: 24px;
  object-fit: cover;
}
.image03 {
  width: 24px;
  object-fit: cover;
  text-decoration: none;
}
.hero {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.heading {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.caption {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.buttons {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.view1 {
  text-decoration: none;
}
.learn {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.description {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.divider-image {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.container3 {
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-end;
  flex-direction: column;
}
.description01 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.content {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.paragraph {
  color: rgb(255, 255, 255);
  font-size: 40px;
  line-height: 60px;
}
.text08 {
  color: var(--dl-color-danger-700);
  font-size: 55px;
  line-height: 60px;
  text-transform: capitalize;
}
.text09 {
  color: var(--dl-color-danger-700);
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
}
.text10 {
  color: var(--dl-color-danger-700);
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
}
.text11 {
  color: var(--dl-color-danger-700);
  font-size: 65px;
  line-height: 60px;
  text-transform: capitalize;
}
.text12 {
  font-size: 65px;
  line-height: 60px;
  text-transform: capitalize;
}
.text13 {
  color: var(--dl-color-success-500);
  font-size: 60px;
  line-height: 60px;
  text-transform: capitalize;
}
.text15 {
  color: var(--dl-color-gray-white);
}
.text16 {
  color: var(--dl-color-gray-white);
}
.paragraph1 {
  color: var(--dl-color-gray-white);
  font-size: 40px;
  line-height: 60px;
}
.links {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.link09 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.text18 {
  color: var(--dl-color-gray-white);
  margin-right: var(--dl-space-space-fiveunits);
}
.arrow {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
}
.link10 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}
.text19 {
  margin-right: 140px;
}
.arrow1 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-fourunits);
}
.interests {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.cinephile {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.content01 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.caption01 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading01 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header01 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}
.header02 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.view2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-fourunits);
  text-align: left;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.image04 {
  width: 25px;
  object-fit: cover;
}
.image05 {
  width: 530px;
  object-fit: cover;
}
.nemophilist {
  gap: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.image06 {
  width: 530px;
  object-fit: cover;
}
.content02 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.caption02 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading02 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header03 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}
.header04 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.view3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.text38 {
  margin-right: var(--dl-space-space-unit);
}
.image07 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.view4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.text39 {
  margin-right: var(--dl-space-space-unit);
}
.image08 {
  width: 25px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.qualifications {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.heading03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 750px;
  align-items: center;
  flex-direction: column;
}
.header05 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  font-weight: 500;
  line-height: 108px;
}
.header06 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.list {
  gap: 106px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-left-width: 1px;
}
.step {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.caption03 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading04 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header07 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
}
.header08 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.step1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.caption04 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading05 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header09 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
}
.header10 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.step2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.caption05 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading06 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header11 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
}
.header12 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.step3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.caption06 {
  color: rgb(255, 207, 119);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading07 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header13 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
}
.header14 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.benefits {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.link11 {
  display: contents;
}
.item {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.image09 {
  width: 48px;
  object-fit: cover;
}
.header15 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.link12 {
  display: contents;
}
.item1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.image10 {
  width: 48px;
  object-fit: cover;
}
.header16 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.item2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.image11 {
  width: var(--dl-size-size-small);
  object-fit: cover;
}
.header17 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}
.collection {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.content03 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.caption07 {
  color: #FFCF77;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading08 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.header18 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}
.header19 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.main {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  background-color: #ffffff;
}
.image12 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #FDEA6B;
}
.image13 {
  object-fit: cover;
}
.content04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
}
.caption08 {
  font-style: normal;
  font-weight: 600;
}
.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.card01 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  background-color: #ffffff;
}
.image14 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #FFCF77;
}
.image15 {
  object-fit: cover;
}
.content05 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
}
.caption09 {
  font-style: normal;
  font-weight: 600;
}
.title1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.card02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.link15 {
  display: contents;
}
.image16 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: #8FA7DF;
}
.image17 {
  object-fit: cover;
}
.content06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
}
.caption10 {
  font-style: normal;
  font-weight: 600;
}
.title2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.card03 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
  background-color: #ffffff;
}
.image18 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #9DDADB;
}
.image19 {
  object-fit: cover;
}
.content07 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  flex-direction: column;
}
.caption11 {
  font-style: normal;
  font-weight: 600;
}
.title3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.view5 {
  width: 100%;
  text-align: center;
  border-color: var(--dl-color-gray-900);
  text-decoration: none;
}
.blog-card {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.row {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.card04 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #000000;
}
.avatar {
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: #FDEA6B;
}
.avatar1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.content08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.header20 {
  color: rgb(255, 255, 255);
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}
.description02 {
  color: rgba(255, 255, 255, 0.8);
  width: 100%;
  font-size: 18px;
  max-width: 400px;
  line-height: 27px;
}
.learn1 {
  gap: var(--dl-space-space-unit);
  color: white;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text61 {
  font-style: normal;
  font-weight: 500;
}
.image20 {
  width: 16px;
  object-fit: cover;
}
.card05 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #FFCF77;
}
.avatar2 {
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EC7495;
}
.avatar3 {
  width: 100%;
  object-fit: cover;
}
.main2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.content09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.header21 {
  color: rgb(0, 0, 0);
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}
.description03 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 18px;
  max-width: 400px;
  line-height: 27px;
}
.learn2 {
  gap: var(--dl-space-space-unit);
  color: #000000;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text62 {
  font-style: normal;
  font-weight: 500;
}
.image21 {
  width: 16px;
  object-fit: cover;
}
.card06 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: #8FA7DF;
}
.avatar4 {
  width: 60px;
  height: 60px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
}
.avatar5 {
  width: 100%;
  object-fit: cover;
}
.row1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.main3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
  text-decoration: none;
}
.content10 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.header22 {
  color: rgb(0, 0, 0);
  font-size: 52px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-twounits);
}
.description04 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 18px;
  max-width: 400px;
  margin-top: var(--dl-space-space-twounits);
  line-height: 27px;
  margin-bottom: var(--dl-space-space-twounits);
}
.learn3 {
  gap: var(--dl-space-space-unit);
  color: #000000;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text63 {
  font-style: normal;
  font-weight: 500;
}
.image22 {
  width: 16px;
  object-fit: cover;
}
.image23 {
  width: 100%;
  object-fit: cover;
}
.join-us {
  width: 100%;
  display: none;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.content11 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #FFCF77;
}
.main4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading09 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header23 {
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.caption12 {
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.view6 {
  background-color: #9DDADB;
}
.image24 {
  width: 100%;
  object-fit: cover;
}
.faq {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.header24 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.accordion {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
.element {
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  padding-bottom: var(--dl-space-space-threeunits);
  border-top-width: 1px;
}
.content12 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.header25 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.description05 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.learn4 {
  gap: var(--dl-space-space-unit);
  color: #000000;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text64 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.image25 {
  width: 16px;
  object-fit: cover;
}
.icon-container {
  padding-top: var(--dl-space-space-halfunit);
}
.icon12 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.icon14 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.element1 {
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  padding-bottom: var(--dl-space-space-threeunits);
}
.content13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.header26 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.description06 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.learn5 {
  gap: var(--dl-space-space-unit);
  color: #000000;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text70 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.image26 {
  width: 16px;
  object-fit: cover;
}
.learn6 {
  gap: var(--dl-space-space-unit);
  color: #000000;
  display: flex;
  padding: 0px;
  box-shadow: none;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: transparent;
}
.text71 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 500;
}
.image27 {
  width: 16px;
  object-fit: cover;
}
.icon-container1 {
  padding-top: var(--dl-space-space-halfunit);
}
.icon16 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.icon18 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.element2 {
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  padding-bottom: var(--dl-space-space-threeunits);
}
.content14 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.header27 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.description07 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.icon-container2 {
  padding-top: var(--dl-space-space-halfunit);
}
.icon20 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.icon22 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.element3 {
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  padding-bottom: var(--dl-space-space-threeunits);
}
.content15 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
}
.header28 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.description08 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  max-width: 800px;
  line-height: 27px;
}
.icon-container3 {
  padding-top: var(--dl-space-space-halfunit);
}
.icon24 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}
.icon26 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.link17 {
  margin: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.get-yours {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 555px;
  display: flex;
  max-width: 1440px;
  margin-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.row2 {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  flex-direction: row;
}
.column {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card07 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #FFCF77;
}
.image28 {
  width: 270px;
  height: auto;
  object-fit: cover;
}
.text78 {
  margin-top: var(--dl-space-space-halfunit);
}
.column1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.card08 {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.image29 {
  width: 240px;
  object-fit: cover;
}
.column2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.card09 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: #8FA7DF;
}
.content16 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.header29 {
  color: rgb(0, 0, 0);
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}
.description09 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 18px;
  max-width: 500px;
  line-height: 27px;
}
.link18 {
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.main5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.heading10 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.logo2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.text87 {
  color: var(--dl-color-danger-500);
}
.text89 {
  color: var(--dl-color-success-700);
}
.caption13 {
  font-size: 18px;
  line-height: 27px;
}
.text90 {
  color: #ffffff;
}
.text91 {
  color: #ffffff;
}
.text92 {
  color: #ffffff;
}
.text93 {
  color: #ffffff;
}
.text94 {
  color: #ffffff;
}
.text95 {
  color: #ffffff;
}
.text96 {
  color: var(--dl-color-primary-700);
}
.text97 {
  color: #ffffff;
}
.socials2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.github2 {
  text-decoration: none;
}
.icon28 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.image30 {
  width: 100px;
  object-fit: cover;
}
.discord2 {
  text-decoration: none;
}
.image31 {
  width: 100px;
  object-fit: cover;
}
.links1 {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.list1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.heading11 {
  color: var(--dl-color-primary-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.items {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.link19 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link20 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link21 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link22 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.list2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.heading12 {
  color: var(--dl-color-primary-700);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
.items1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.link23 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link24 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link25 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link26 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link27 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.socials3 {
  gap: var(--dl-space-space-unit);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.twitter3 {
  text-decoration: none;
}
.image32 {
  width: 100px;
  object-fit: cover;
}
.discord3 {
  text-decoration: none;
}
.image33 {
  width: 100px;
  object-fit: cover;
}
.copyright {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
@media(max-width: 1600px) {
  .logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .navlink {
    color: rgb(255, 255, 255);
  }
  .link {
    color: rgb(255, 255, 255);
  }
  .navlink1 {
    color: rgb(255, 255, 255);
  }
  .navlink2 {
    color: rgb(255, 255, 255);
  }
  .icon {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
  .icon02 {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
  .logo1 {
    color: var(--dl-color-success-500);
  }
  .text03 {
    color: var(--dl-color-danger-700);
  }
  .text04 {
    color: var(--dl-color-gray-white);
  }
  .socials1 {
    margin-top: var(--dl-space-space-fiveunits);
  }
  .icon08 {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
  .icon10 {
    fill: var(--dl-color-gray-white);
    width: 25px;
    height: 25px;
  }
  .header {
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 108px;
  }
  .caption {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 36px;
  }
  .learn {
    color: rgb(255, 255, 255);
  }
  .caption07 {
    color: rgb(255, 207, 119);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  .header18 {
    color: rgb(255, 255, 255);
  }
  .header19 {
    color: rgb(255, 255, 255);
  }
  .caption08 {
    font-weight: 600;
  }
  .title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .caption09 {
    font-weight: 600;
  }
  .title1 {
    line-height: 24px;
  }
  .caption10 {
    font-style: normal;
    font-weight: 600;
  }
  .title2 {
    line-height: 24px;
  }
  .description06 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 27px;
  }
  .logo2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .text87 {
    color: var(--dl-color-danger-700);
  }
  .text89 {
    color: var(--dl-color-success-500);
  }
  .caption13 {
    color: rgb(255, 255, 255);
  }
  .text96 {
    color: var(--dl-color-primary-700);
  }
  .icon28 {
    width: 25px;
    height: 25px;
  }
  .link19 {
    color: rgb(255, 255, 255);
  }
  .link20 {
    color: rgb(255, 255, 255);
  }
  .link21 {
    color: rgb(255, 255, 255);
  }
  .link22 {
    color: rgb(255, 255, 255);
  }
  .heading12 {
    color: var(--dl-color-primary-700);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }
  .link23 {
    color: rgb(255, 255, 255);
  }
  .link24 {
    color: rgb(255, 255, 255);
  }
  .link25 {
    color: rgb(255, 255, 255);
  }
  .link26 {
    color: rgb(255, 255, 255);
  }
  .link27 {
    color: rgb(255, 255, 255);
  }
}
@media(max-width: 1200px) {
  .btn-group {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .get-yours {
    padding-top: 400;
    padding-bottom: 600;
  }
}
@media(max-width: 991px) {
  .desktop-menu {
    display: none;
  }
  .btn-group {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .interests {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .cinephile {
    align-items: center;
    flex-direction: column;
  }
  .nemophilist {
    flex-direction: column-reverse;
  }
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
  .row {
    flex-direction: column;
  }
  .card04 {
    width: 100%;
  }
  .card05 {
    width: 100%;
  }
  .row1 {
    flex-direction: column;
  }
  .heading09 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .caption12 {
    text-align: center;
  }
  .get-yours {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .row2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    height: 555px;
    align-items: center;
    justify-content: center;
  }
  .column {
    flex: 1;
    align-items: flex-start;
  }
  .card07 {
    width: 100%;
    aspect-ratio: 0.85;
    justify-content: center;
  }
  .column1 {
    flex: 1;
    align-items: flex-end;
  }
  .card08 {
    width: 100%;
    aspect-ratio: 0.85;
  }
  .column2 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .heading {
    gap: var(--dl-space-space-unit);
  }
  .header {
    font-size: 36px;
    max-width: 70%;
    line-height: 43px;
  }
  .caption {
    font-size: 16px;
    line-height: 24px;
  }
  .description {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: 0px;
  }
  .description01 {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .content {
    gap: var(--dl-space-space-unit);
  }
  .paragraph {
    font-size: 20px;
    line-height: 30px;
  }
  .paragraph1 {
    font-size: 20px;
    line-height: 30px;
  }
  .interests {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .cinephile {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .content01 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .heading01 {
    gap: var(--dl-space-space-unit);
  }
  .header01 {
    font-size: 32px;
    letter-spacing: 0;
  }
  .header02 {
    font-size: 14px;
    line-height: 21px;
  }
  .text20 {
    font-size: 14px;
    line-height: 21px;
  }
  .view2 {
    margin-top: var(--dl-space-space-unit);
  }
  .image05 {
    width: 100%;
  }
  .nemophilist {
    gap: var(--dl-space-space-fourunits);
  }
  .image06 {
    width: 100%;
  }
  .content02 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .heading02 {
    gap: var(--dl-space-space-unit);
  }
  .header03 {
    font-size: 32px;
    letter-spacing: 0;
  }
  .header04 {
    font-size: 14px;
    line-height: 21px;
  }
  .view3 {
    margin-top: var(--dl-space-space-unit);
  }
  .view4 {
    margin-top: var(--dl-space-space-unit);
  }
  .qualifications {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .heading03 {
    gap: var(--dl-space-space-unit);
  }
  .header05 {
    font-size: 36px;
    line-height: 43px;
  }
  .header06 {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
  }
  .list {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .heading04 {
    gap: var(--dl-space-space-unit);
  }
  .header07 {
    font-size: 32px;
  }
  .header08 {
    font-size: 14px;
    line-height: 21px;
  }
  .heading05 {
    gap: var(--dl-space-space-unit);
  }
  .header09 {
    font-size: 32px;
  }
  .header10 {
    font-size: 14px;
    line-height: 21px;
  }
  .heading06 {
    gap: var(--dl-space-space-unit);
  }
  .header11 {
    font-size: 32px;
  }
  .header12 {
    font-size: 14px;
    line-height: 21px;
  }
  .heading07 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .header13 {
    font-size: 32px;
  }
  .header14 {
    font-size: 14px;
    line-height: 21px;
  }
  .header15 {
    font-size: 14px;
    line-height: 21px;
  }
  .header16 {
    font-size: 14px;
    line-height: 21px;
  }
  .header17 {
    font-size: 14px;
    line-height: 21px;
  }
  .collection {
    gap: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .content03 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .heading08 {
    gap: var(--dl-space-space-unit);
  }
  .header18 {
    font-size: 32px;
    letter-spacing: 0;
  }
  .header19 {
    font-size: 14px;
    line-height: 21px;
  }
  .image12 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image14 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image16 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .image18 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .view5 {
    display: none;
  }
  .blog-card {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .card04 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .main1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .header20 {
    font-size: 24px;
  }
  .description02 {
    font-size: 14px;
    line-height: 21px;
  }
  .card05 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .main2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .header21 {
    font-size: 24px;
  }
  .description03 {
    font-size: 14px;
    line-height: 21px;
  }
  .card06 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .row1 {
    gap: var(--dl-space-space-twounits);
  }
  .main3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .header22 {
    font-size: 24px;
  }
  .description04 {
    font-size: 14px;
    line-height: 21px;
  }
  .join-us {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .content11 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .main4 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .heading09 {
    gap: var(--dl-space-space-unit);
  }
  .header23 {
    font-size: 36px;
    line-height: 43px;
  }
  .caption12 {
    font-size: 16px;
    line-height: 24px;
  }
  .image24 {
    width: 150%;
  }
  .faq {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .header24 {
    font-size: 36px;
    line-height: 43px;
  }
  .element {
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .header25 {
    font-size: 16px;
  }
  .description05 {
    font-size: 14px;
    line-height: 21px;
  }
  .element1 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .header26 {
    font-size: 16px;
  }
  .description06 {
    font-size: 14px;
    line-height: 21px;
  }
  .element2 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .header27 {
    font-size: 16px;
  }
  .description07 {
    font-size: 14px;
    line-height: 21px;
  }
  .text74 {
    font-size: 14px;
    line-height: 21px;
  }
  .element3 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .header28 {
    font-size: 16px;
  }
  .description08 {
    font-size: 14px;
    line-height: 21px;
  }
  .get-yours {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .row2 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: 555px;
  }
  .card07 {
    padding: var(--dl-space-space-unit);
  }
  .image28 {
    width: 100%;
  }
  .card08 {
    padding: var(--dl-space-space-unit);
  }
  .image29 {
    width: 100%;
  }
  .card09 {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .content16 {
    align-items: center;
  }
  .header29 {
    font-size: 32px;
    text-align: center;
  }
  .description09 {
    font-size: 14px;
    text-align: center;
    line-height: 21px;
  }
  .link18 {
    margin-top: 0px;
  }
  .footer {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .main5 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .heading10 {
    gap: var(--dl-space-space-unit);
  }
  .logo2 {
    font-size: 20px;
    line-height: 24px;
  }
  .caption13 {
    width: 80%;
    font-size: 12px;
    line-height: 18px;
  }
  .socials2 {
    display: none;
  }
  .links1 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    justify-content: flex-start;
  }
  .list1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .list2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .socials3 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .navbar {
    padding: var(--dl-space-space-unit);
  }
  .logo {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .text {
    color: var(--dl-color-danger-700);
  }
  .text01 {
    color: var(--dl-color-gray-white);
  }
  .mobile-menu {
    padding: 16px;
  }
  .logo1 {
    color: var(--dl-color-success-500);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .text03 {
    color: var(--dl-color-danger-700);
  }
  .text04 {
    color: var(--dl-color-gray-white);
  }
  .link04 {
    color: var(--dl-color-gray-white);
    text-decoration: underline;
  }
  .link05 {
    color: var(--dl-color-gray-white);
    text-decoration: underline;
  }
  .navlink3 {
    color: var(--dl-color-gray-white);
    text-decoration: underline;
  }
  .navlink4 {
    color: var(--dl-color-gray-white);
    text-decoration: underline;
  }
  .login {
    text-decoration: underline;
  }
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
  .image24 {
    width: 200%;
  }
  .header25 {
    font-size: 16px;
  }
  .description05 {
    font-size: 14px;
    line-height: 21px;
  }
  .header26 {
    font-size: 16px;
  }
  .description06 {
    font-size: 14px;
    line-height: 21px;
  }
  .header27 {
    font-size: 16px;
  }
  .description07 {
    font-size: 14px;
    line-height: 21px;
  }
  .text74 {
    font-size: 14px;
    line-height: 21px;
  }
  .header28 {
    font-size: 16px;
  }
  .description08 {
    font-size: 14px;
    line-height: 21px;
  }
  .row2 {
    height: 350px;
  }
}
